@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color: #2b2d42;
    --secondary-color: #edf2f4;
    --tertiary-color: #8d99ae;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 8px;
    background: var(--primary-color);
    font-size: larger;
    color: white;
}

logo {
    font-size: 20px;
    font-weight: bold;
}

.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-nav li {
    display: inline-block;
}

.header-nav a {
    padding: 8px;
    text-decoration: none;
    color: var(--secondary-color);
}

.introduction {
    text-align: center;
    padding: 25px;
    font-size: large;
    align-items: center;
    /* display: flex;
    justify-content: center; */
    align-items: center; */
}

.primary-btn {
    background-color: var(--primary-color);
    border: none;
    color: var(--tertiary-color);
    /* width: 150px;
    height: 40px; */
    font-size: 16px;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    justify-content: center; 
}

.centerbtn {
    display: flex;
    justify-content: center; 
    /* background-color: var(--primary-color);
    border: none;
    color: var(--tertiary-color);
    width: 150px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;  */
}

.footer {
    display: flex;
    align-items: center;
    padding: 10px;
    /* background: var(--primary-color); */
    text-decoration: none;
    color: var(--secondary-color);
    position: absolute;
    bottom: 0; 
}


/* .socials {
    color: var(--secondary-color);
}

.footer li {
    display: inline-block; 
    padding-left: 5px;
}

.socials {
    margin-left: auto;  
}

.socials a {
    text-decoration: none;
    color: var(--secondary-color);
} */