.alert-simple {
   padding: 0.5rem;
   border-style: solid;
   border-width: 0.15rem;
   border-radius: 0.5rem;
   width: 16rem;
   
}

.alert-color1 {
    background-color: var(--secondary-color);
}

.alert-blue {
    border-color: rgb(25, 152, 202);
    background-color: skyblue;

}

.alert-red {
    border-color: red;
    background-color: rgb(250, 171, 171);
    
}

.alert-green {
    border-color: green;
    background-color: rgb(123, 211, 123);
}

.alert-yellow {
    border-color: yellow;
    background-color: rgb(255, 255, 200);
    
}

