:root {
    --primary-color: #2b2d42;
    --secondary-color: #edf2f4;
    --tertiary-color: #8d99ae;
}
.horizontal-img {
    width: 20rem;
    height: 10rem;
    padding: 0.75rem;
}
.card-horizontal {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.5s; */
    width: 40rem;
    background-color: var(--secondary-color);
    
  }
  
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* Add some padding inside the card container */
  .card-container {
    position: absolute;
    right: 41rem;
    top: 16rem;
  }


  /* for vertical card */
  .vertical-img {
    width: 15rem;
    height: 15rem;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .card-vertical {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 17rem;
    background-color: var(--secondary-color);
  }

  .card-v-container {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
  }

  .card-badge {
      position:absolute;
      right: 57rem;
      top: 95rem;
      background-color: #8d99ae;
      padding: 0.5rem;
      /* border-radius: 0.25rem; */
  }